USE [Customer]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 3/20/2024 11:58:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 3/20/2024 11:58:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](max) NOT NULL,
	[CustomerAddress] [nvarchar](max) NOT NULL,
	[CustomerTelephone] [nvarchar](max) NULL,
	[ContactPersonName] [nvarchar](max) NULL,
	[ContactPersonEmailAddress] [nvarchar](max) NULL,
	[VATNumber] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20240319071531_Add_Customer_Table', N'7.0.17')
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerAddress], [CustomerTelephone], [ContactPersonName], [ContactPersonEmailAddress], [VATNumber]) VALUES (7, N'Joe Stone', N'14 Unix Street', N'+27765432511', N'Maya', N'MayT@gmail.com', N'23141354')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerAddress], [CustomerTelephone], [ContactPersonName], [ContactPersonEmailAddress], [VATNumber]) VALUES (9, N'John Smith', N'21 Chetty Street', N'0752345677', N'Jenny jenkins', N'jhjhjaddda@gmai.com', N'321434234')
INSERT [dbo].[Customers] ([CustomerID], [CustomerName], [CustomerAddress], [CustomerTelephone], [ContactPersonName], [ContactPersonEmailAddress], [VATNumber]) VALUES (10, N'Mike James', N'232 Fort hlland', N'122324235245', N'Test2324', N'sdsfa@gmail.com', N'12123124324')
GO
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
